application:
    config:
        profileName: local-h2

management:
    endpoints:
        enable-by-default: false
        web:
            exposure:
                include: 'health, metrics, prometheus'
    endpoint:
        health:
            show-details: always
        prometheus:
            enable: true
        metrics:
            tags:
                application: demo
spring:
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
    datasource:
        url: jdbc:h2:mem:testdb
        driverClassName: org.h2.Driver
        username: admin
        password: