application:
    config:
        profileName: default


management:
    endpoints:
        enable-by-default: false
        web:
            exposure:
                include: 'health, metrics, prometheus'
    endpoint:
        health:
            show-details: always
        prometheus:
            enable: true
        metrics:
            tags:
                application: demo

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/cliente?useUnicode=true?characterEncoding=UTF-8?useTimezone=true&serverTimezone=UTC
        username: root
        password: 1234
    jpa:
        hibernate:
            ddl-auto: update
            dialect: org.hibernate.dialect.MySQLDialect
            database-platform: org.hibernate.dialect.MySQL5Dialect
            show-sql: true


